.table {
    
}

.isactive {
    background: green;
    color: #fff;
    cursor: pointer;
}

.table tr td {
    text-align: center;
    vertical-align: middle;
    padding: 15px;
}

.table tr td span {
    display: none;
    font-weight: bold;
}

.table tr td.visible span {
    display: block;
}

.table tr td.visible strong {
    display: none;
}
.table tr td.visible {
    background: orangered;
    color: #fff;
    cursor: pointer;
}

.table tr td.deleteRow {
    background: red;
    color: #fff;
    cursor: pointer;
}


.table tr td.addRow {
    background: pink;
    color: #000;
    cursor: pointer;
}

.table tr td.avrArr {
    background: lightgoldenrodyellow;
    color: #000;
    cursor: pointer;
}